# Server Configuration
HOST=localhost
PORT=3000
BASE_URL=http://localhost:3000

# Frontend Configuration
FRONTEND_URL=http://localhost:5173

# PostgreSQL Configuration
PGUSER=developer
PGHOST=localhost
PGPASSWORD=supersecretpassword
PGDATABASE=stress_detector
PGPORT=5432

# JWT Token Configuration
ACCESS_TOKEN_KEY=your_jwt_access_token_key_here
REFRESH_TOKEN_KEY=your_jwt_refresh_token_key_here
ACCESS_TOKEN_AGE=15

# Redis Configuration
REDIS_HOST=localhost

# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Mail Configuration
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user_here
MAIL_PASSWORD=your_mailtrap_password_here

# Upload Directory
UPLOAD_DIR='uploads/profiles'

# Machine Learning API URL
ML_SERVICE_URL='http://localhost:8000'
